In [52]:
#loading the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [53]:
#Importing all the datasets
#Training Set of users
train_users=pd.read_csv('/Users/devanshiverma/Desktop/UChicago/02-Quarter/Data/train_users_2.csv')
#Testing Set of users
test_users=pd.read_csv('/Users/devanshiverma/Desktop/UChicago/02-Quarter/Data/test_users.csv')
#web sessions log for users
sessions=pd.read_csv('/Users/devanshiverma/Desktop/UChicago/02-Quarter/Data/sessions.csv')
#Loading the summary stats of countries
countries=pd.read_csv('/Users/devanshiverma/Desktop/UChicago/02-Quarter/Data/countries.csv')
#Summary stats of user age
age_gender_bkts=pd.read_csv('/Users/devanshiverma/Desktop/UChicago/02-Quarter/Data/age_gender_bkts.csv')
#Sample submission
sample_submission=pd.read_csv('/Users/devanshiverma/Desktop/UChicago/02-Quarter/Data/sample_submission_NDF.csv')

In [54]:
#converting the date values to datetime
train_users['date_account_created'] = pd.to_datetime(train_users['date_account_created'])
train_users['date_first_booking'] = pd.to_datetime(train_users['date_first_booking'])
train_users['timestamp_first_active'] = pd.to_datetime(train_users['timestamp_first_active'], format='%Y%m%d%H%M%S')
test_users['date_first_booking'] = pd.to_datetime(test_users['date_first_booking'])
test_users['date_account_created'] = pd.to_datetime(test_users['date_account_created'])
test_users['timestamp_first_active'] = pd.to_datetime(test_users['timestamp_first_active'], format='%Y%m%d%H%M%S')
train_users.head()
test_users.head()

,id,date_account_created,timestamp_first_active,date_first_booking,gender,age,signup_method,signup_flow,language,affiliate_channel,affiliate_provider,first_affiliate_tracked,signup_app,first_device_type,first_browser
0,5uwns89zht,2014-07-01,2014-07-01 00:00:06,NaT,FEMALE,35.0,facebook,0,en,direct,direct,untracked,Moweb,iPhone,Mobile Safari
1,jtl0dijy2j,2014-07-01,2014-07-01 00:00:51,NaT,-unknown-,NaN,basic,0,en,direct,direct,untracked,Moweb,iPhone,Mobile Safari
2,xx0ulgorjt,2014-07-01,2014-07-01 00:01:48,NaT,-unknown-,NaN,basic,0,en,direct,direct,linked,Web,Windows Desktop,Chrome
3,6c6puo6ix0,2014-07-01,2014-07-01 00:02:15,NaT,-unknown-,NaN,basic,0,en,direct,direct,linked,Web,Windows Desktop,IE
4,czqhjk3yfe,2014-07-01,2014-07-01 00:03:05,NaT,-unknown-,NaN,basic,0,en,direct,direct,untracked,Web,Mac Desktop,Safari

In [55]:
#Segregating predictors and independent variable
y=train_users[['country_destination']]
X=train_users.drop(['country_destination'],axis=1)

In [56]:
#Age of 2014 isn't possible and 1 is also not possible so capping the age and converting them to Nan'S
X.loc[X.age > 95, 'age'] = np.nan
X.loc[X.age < 18, 'age'] = np.nan

In [57]:
def extract_elements_date(data,feature):
    y=feature+'_year'
    data[y]=data[feature].dt.year
    m=feature+'_month'
    data[m]=data[feature].dt.month
    d=feature+'_date'
    data[d]=data[feature].dt.day

In [58]:
#Extracting columns
extract_elements_date(X,'date_account_created')
extract_elements_date(X,'date_first_booking')
extract_elements_date(X,'timestamp_first_active')
X['timestamp_first_active_hour']=X['timestamp_first_active'].dt.hour

#Dropping columns
X=X.drop(['id'],axis=1)
X=X.drop(['date_account_created'],axis=1)
X=X.drop(['date_first_booking'],axis=1)
X=X.drop(['timestamp_first_active'],axis=1)

In [59]:
X.head()

,gender,age,signup_method,signup_flow,language,affiliate_channel,affiliate_provider,first_affiliate_tracked,signup_app,first_device_type,...,date_account_created_year,date_account_created_month,date_account_created_date,date_first_booking_year,date_first_booking_month,date_first_booking_date,timestamp_first_active_year,timestamp_first_active_month,timestamp_first_active_date,timestamp_first_active_hour
0,-unknown-,NaN,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,...,2010,6,28,NaN,NaN,NaN,2009,3,19,4
1,MALE,38.0,facebook,0,en,seo,google,untracked,Web,Mac Desktop,...,2011,5,25,NaN,NaN,NaN,2009,5,23,17
2,FEMALE,56.0,basic,3,en,direct,direct,untracked,Web,Windows Desktop,...,2010,9,28,2010.0,8.0,2.0,2009,6,9,23
3,FEMALE,42.0,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,...,2011,12,5,2012.0,9.0,8.0,2009,10,31,6
4,-unknown-,41.0,basic,0,en,direct,direct,untracked,Web,Mac Desktop,...,2010,9,14,2010.0,2.0,18.0,2009,12,8,6

In [60]:
#Making singup flow catgorical
X['signup_flow']=X['signup_flow'].astype('str')

categorical_features=['gender','signup_method','signup_flow','language','affiliate_channel','affiliate_provider','first_affiliate_tracked','signup_app',
                    'first_device_type','first_browser']

for i in categorical_features:
    X[i]=X[i].factorize()[0]

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:1048: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item_labels[indexer[info_axis]]] = value

KeyError: 0

In [63]:
#imputing mean age
X['age'].fillna(X['age'].mean(),inplace=True)

In [64]:
X=X.drop(['date_first_booking_year'],axis=1)
X=X.drop(['date_first_booking_month'],axis=1)
X=X.drop(['date_first_booking_date'],axis=1)

In [65]:
#dividing the data into train and test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.3, random_state=42,stratify=y)

In [66]:
X_train.shape

(149415, 18)

In [67]:
"""Metrics to compute the model performance."""

import numpy as np
from sklearn.preprocessing import LabelBinarizer
from sklearn.metrics import make_scorer


def dcg_score(y_true, y_score, k=5):
    order = np.argsort(y_score)[::-1]
    y_true = np.take(y_true, order[:k])

    gain = 2 ** y_true - 1

    discounts = np.log2(np.arange(len(y_true)) + 2)
    return np.sum(gain / discounts)


def ndcg_score(ground_truth, predictions, k=5):
    lb = LabelBinarizer()
    lb.fit(range(len(predictions) + 1))
    T = lb.transform(ground_truth)

    scores = []

    # Iterate over each y_true and compute the DCG score
    for y_true, y_score in zip(T, predictions):
        actual = dcg_score(y_true, y_score, k)
        best = dcg_score(y_true, y_true, k)
        score = float(actual) / float(best)
        scores.append(score)

    return np.mean(scores)


ndcg_scorer = make_scorer(ndcg_score, needs_proba=True, k=5)

In [68]:
#importing libraries
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV

In [69]:
rf_clf = RandomForestClassifier()

rf_clf.fit(X_train, y_train.values.ravel())

y_pred = rf_clf.predict(X_test)
print('Accuracy of Test Random Forest Classifier on test set: {:.2f}'.format(rf_clf.score(X_test, y_test.values.ravel())))

Accuracy of Test Random Forest Classifier on test set: 0.61

In [70]:
print("The NDCG Score is {}".format(ndcg_score(y_test.to_numpy(),rf_clf.predict_proba(X_test),k=5)))

The NDCG Score is 0.8016589951446529

In [62]:
y

        country_destination
0                         0
1                         0
2                         1
3                         2
4                         1
...                     ...
213446                    0
213447                    0
213448                    0
213449                    0
213450                    0

[213451 rows x 1 columns]